#footer{
    background-color: #2E2F42;
}
.footer-title{
font-family: Raleway;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
text-transform: uppercase;
color: #F4F4FD;
text-decoration: none;
}
.footer-text{
font-size: 16px;
line-height: 1.5;
color: #E7E9FC;
}