#team h2{background-color: whitesmoke;}
#team h3{background-color: whitesmoke;}
#team p{background-color: whitesmoke;}
#team image{background-color: whitesmoke;}
#team li{background-color: whitesmoke;}